# COMPLETED HW1 - Shyla - 11/09/2019 
## Header 2 -- Python for Data Science

In [2]:
print("Hello, Python!")

Hello, Python!

In [3]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

### --- Exercise 1
### Print the following string "Learning Python for Data Science"

In [1]:
# Exercise 1 - write code in this cell and click on Run - COMPLETED
print("Learning Python for Data Science")

Learning Python for Data Science

In [5]:
# NOTES
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

a = b = c = 1
print(a)
print(b)
print(c)
aa,bb = 22,33
print(aa)
print(bb)
a=5
print(a,b)

100
1000.0
John
1
1
1
22
33
5 1

### --- Exrecise 2
### Create variables with your first_name and last_name
### print first_name and last_name

In [6]:
# Exercise 2 - Python code - COMPLETED
first_name = "Sanjay"
last_name = "Agarwal"
print(first_name, last_name)

Sanjay Agarwal

In [3]:
# Exercise 2b -- write code in this cell and click on Run - COMPLETED
# METHOD 1
# Initialise following variables:
class_name = "Py - Data Science"
which_day = "Saturday"
Num_days = "8"
Class_timings = "10:00AM to 1:00PM"
# You want to print the following:
# "Python for Data Science class is on 8 Saturdays from 10AM to 1PM
print(class_name, "class is on", Num_days, "from" , Class_timings )

Py - Data Science class is on 8 from 10:00AM to 1:00PM

In [2]:
# Method 2 - COMPLETED
class_name = "Py - Data Science"
which_day = "Saturday"
Num_days = 8
Class_timings = "10:00AM to 1:00PM"
# You want to print the following:
# "Python for Data Science class is on 8 Saturdays from 10AM to 1PM
print(class_name, "class is on", str(Num_days), "from" , Class_timings )

Py - Data Science class is on 8 from 10:00AM to 1:00PM

In [8]:
# NOTES
str = 'Hello World!'

a = str               # Hello World
b = str[0]            # H
c = str[2:7]          # 'llo W'
d = str[2:]           # 'llo World!'
e = str * 2            # Hellow World! Hello World!
f = str + " " + "TEST"  # "Hello World TEST"
g = str[-1]           # !
h = str[-3:]              # ld!
print(a)          # Prints complete string
print(b)       # Prints first character of the string
print(c)     # Prints characters starting from 3rd to 5th
print(d)      # Prints string starting from 3rd character
print(e)      # Prints string two times
print(f) # Prints concatenated string
print(g)
print(h)

Hello World!
H
llo W
llo World!
Hello World!Hello World!
Hello World! TEST
!
ld!

### --- Exercise 3 
### print first two characters of first_name and last two characters of last_name

In [4]:
# Exercise 3 - write code in this cell - COMPLETED
# You want to extract first letter from first_name, middle_name, and last_name
fn = "Shaila"
mn = "-"
ln ="Hanra"

print(fn[0], mn[0], ln[0])

S - H

In [13]:
"""
Block comment
"""

'\nBlock comment\n'

In [12]:
###########################################################
## Python Lists - NOTES
###########################################################
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[-3:])

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]

## Exercise 4 -- Lists
## Define a new Python list "new_list" and initialize it with "1","A","2","B","3","C"
## Print values with alternate indices 0,2,4 and 1,3,5

In [8]:
## Write code for Exercise 4 in this cell - COMPLETED
new_list =["1", "A", "2", "B", "3", "C"]
print("Indices 0, 2, 4 are: ", new_list[::2])
print("Indices 1, 3, 5 are: ", new_list[1::2])

Indices 0, 2, 4 are:  ['1', '2', '3']
Indices 1, 3, 5 are:  ['A', 'B', 'C']

In [9]:
###########################################################
## Python Tuples - TUPLES ARE IMMUTABLE - NOTES
###########################################################
tuple = ('abcd', 786 , 2.23, 'john', 70.2 )
tuple = ("abcde", 786 , 2.23, 'john', 70.2 )
print(tuple)          # Prints complete list
print(tuple[0])       # Prints first element of the list
print(tuple[1:3])     # Prints elements starting from 2nd till 3rd 
var1 = "jshjah"
var1 = "aaaaa"
print(var1)

('abcde', 786, 2.23, 'john', 70.2)
abcde
(786, 2.23)
aaaaa

In [14]:
## Decisions in Python - NOTES
var = 2000
if var == 2000:
    print("1 - Got a true expression value")
    print(var)
elif var == 150:
    print("2 - Got a true expression value")
    print(var)
elif var == 100:
    print("3 - Got a true expression value")
    print(var)
elif var == "Sunnyvale":
    print("var is Sunnyvale")
else:
    print("4 - Got a false expression value")
    print(var)

1 - Got a true expression value
2000

### --- Exercise 5 - if .. elif .. else
### Initialize string state_name to be "California" or "Texas"
### write if ... elif ... else checking state_name 
### if state_name is California, print "Golden State"
### if state_name is Texas, print "Lone Star State"
### default else to printing "Not Golden State or Lone Star State"

In [12]:
# Write code for Exercise 5 in this box - COMPLETED

State = "Colorado"

if State == "California":
    print("Golden State")
elif State == "Texas":
    print("Lone Star State")
else:
    print("Not Golden State or Lone Star State")

Not Golden State or Lone Star State

In [13]:
## For and while Loops - COMPLETED
## while loop
count = 0
while (count < 9):
    print('The count is:', count)
    count = count + 1

## for loop
for letter in 'Python':     # First Example
    print('Current Letter :', letter)
    
fruits = ['banana', 'apple',  'mango', 'apple']
for fruit in fruits:        # Second Example
    print('Current fruit :', fruit)

cars = ["honda","toyota","tesla"]
cars.reverse()
print(cars)
 
print(letter)

for kk in range(0,len(fruits)):
    print("new",fruits[kk])
    
apple_index = fruits.index('apple')
print(apple_index)

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango
Current fruit : apple
['tesla', 'toyota', 'honda']
n
new banana
new apple
new mango
new apple
1

### --- Exercise 6 -- print fruits in reverse order, one line per fruit
### mango
### apple
### banana

In [27]:
# Write code for Exercise 6 in this cell - COMPLETED
print("Fruits before reversing: ", fruits)
fruits.reverse()
print("Fruits AFTER reversing: ", fruits)
#print(rev_fruits)

Fruits before reversing:  ['banana', 'apple', 'mango', 'apple']
Fruits AFTER reversing:  ['apple', 'mango', 'apple', 'banana']

In [18]:
## Functions in Python - NOTES
def add_numbers(a=5,b=10):
    c = a + b
    d = a - b
    return c,d
    
print(add_numbers())
print(add_numbers(1,2))
print(add_numbers(1))
print(add_numbers(b=1))

(15, -5)
(3, -1)
(11, -9)
(6, 4)

### --- Exercise 7 -- functions -- 
### write function to find square(a) + square(b), given a and b
### def square_and_sum(a,b)
### when a = 2 and b = 3, the function should return 13
###
### write function to add strings 
### def add_strings(str1,str2)
### when str1 = "Hello" and str2 = "World", 
### it should return "Hello World!!!" with space and !!!.

In [32]:
# Write code for Exercise 7 in this cell - COMPLETED

yy = range(5)   # range is a datatype like int or str
print(yy)
for m in yy:
    print(m)

def square_and_sum(a,b):
    c = a**2 + b**2
    return c

def add_strings(s1,s2):
    s = s1 + " " + s2 + "!!!"
    return s

print("Result of square_and_sum is: ", square_and_sum(2,3) )
print("Result of add_strings is: ", add_strings("Hello","World") )

range(0, 5)
0
1
2
3
4
Result of square_and_sum is:  13
Result of add_strings is:  Hello World!!!

In [20]:
for x in range(10): 
    print(x)

0
1
2
3
4
5
6
7
8
9

In [21]:
# range also follows the format range(start_value,stop_value,step_value) - NOTES
for x in range(1,6,2):
    print(x)

1
3
5

### --- Exercise 8 -- using range
### print numbers 10, 9, 8, ..., 1

In [39]:
# Write code for Exercise 8 in this cell - COMPLETED
a = [i for i in range(1,11)]
print("List before reversing: ", a)
a.reverse()
print("List AFTER reversing: ", a)

List before reversing:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List AFTER reversing:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
## Appending and extending Python lists - NOTES
list1 = [1,11,111]
list2 = [2,22,222]

list3 = [1, 2.5, "tom", "sanjay", "ali"]

list1.append(1111)
print("list1-a = %s" % list1)
print("list1-a =",list1)

list1.extend(list2)
print("list1-b = %s" % list1)

list1.remove(111)
list1.append(999999)
print("list1-c = %s" % list1)

list1.sort()
print("list1-d                = %s" % list1)

list1.sort(reverse=True)
print("list1-e = %s" % list1)

listc = []
list1.extend(list2)
listc = list1
print(listc)

list1-a = [1, 11, 111, 1111]
list1-a = [1, 11, 111, 1111]
list1-b = [1, 11, 111, 1111, 2, 22, 222]
list1-c = [1, 11, 1111, 2, 22, 222, 999999]
list1-d                = [1, 2, 11, 22, 222, 1111, 999999]
list1-e = [999999, 1111, 222, 22, 11, 2, 1]
[999999, 1111, 222, 22, 11, 2, 1, 2, 22, 222]

### --- Exercise 9 -- lists with strings
### Initialize states_list with California, Texas, Arizona
### step 1: Add Florida
### step 2: Remove Texas
### step 3: Sort ascending order, and print the list
### step 4: Sort descending order, and print the list

In [48]:
# Write code for Exercise 9 in this cell - COMPLETED

states_list = ["California", "Texas", "Arizona"]
print("Original States List: ", states_list)
states_list.append("Florida")
print("States List after APPENDING Florida: ", states_list)
states_list.remove("Texas")
print("States List AFTER REMOVING Texas: ", states_list)
states_list.sort()
print("Sorted States List Ascending: ", states_list)
states_list.sort(reverse = True)
print("Sorted States List Descending: ", states_list)

Original States List:  ['California', 'Texas', 'Arizona']
States List after APPENDING Florida:  ['California', 'Texas', 'Arizona', 'Florida']
States List AFTER REMOVING Texas:  ['California', 'Arizona', 'Florida']
Sorted States List Ascending:  ['Arizona', 'California', 'Florida']
Sorted States List Descending:  ['Florida', 'California', 'Arizona']

In [23]:
## Integer and floating division - NOTES
def div1(x,y):
    print(x/y)
    
def div2(x,y):
    print(x//y) # integer division

div1(5,2)
div1(5.,2)
div2(5,2)
div2(5.,2.)

2.5
2.5
2
2.0

In [24]:
# Printing list length - NOTEs
list1 = ['a', 'b', 'c', 'd', 'e']
print(len(list1))

list2 = [11,22,33,44,55,66,77,88,99,110]
print(list2[1])

print(list2[-2])

5
22
99

In [25]:
state_name = "California"
find_str = state_name.find("a")
print("1--",find_str)

find_str = state_name.find("z") # IF char is not found returns -1
print("2--",find_str)

count_str = state_name.count("a")
print("3--",count_str)

find_str = state_name.find("nia") # Can find sub-strings
print("4--",find_str)

1-- 1
2-- -1
3-- 2
4-- 7

In [49]:
mystring = "California"
print(len(mystring))

10

### --- Exercise 10 -- find, count --- define the string Albert_Einstein
### Albert_Einstein = "Life is like riding a bicycle. To keep your balance 
### you must keep moving."
### Find number of occurences for: you, ing, life (all case sensitive)

In [54]:
# Write code for Exercise 10 in this cell - COMPLETED
A_E = "Life is like riding a bicycle. To keep your balance you must keep moving."
print("Number of occurances of 'you':", A_E.count("you") )
print("Number of occurances of 'ing':", A_E.count("ing") )
print("Number of occurances of 'life':", A_E.count("life") )

Number of occurances of 'you': 2
Number of occurances of 'ing': 2
Number of occurances of 'life': 0

In [26]:
# Splitting strings - NOTES
ss = "Python for Data Science"

words = ss.split()
print("Words is a list: ",words)

ss1 = " ".join(words)
print("ss1 is a string: ",ss1)

mystring = "this,is,nice"
split_mystring = mystring.split(",")
print(split_mystring)

Words is a list:  ['Python', 'for', 'Data', 'Science']
ss1 is a string:  Python for Data Science
['this', 'is', 'nice']

In [55]:
#NOTES
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]

### --- Exrecise 11 Concatenate lists and print alternate
### 1) create a new list "states_123" which includes states_1,
### states_2, and states_3
### 2) Sort the list in ascending order
### 3) print alternate state names from states_123

In [73]:
# Your code here ... - COMPLETED
states_123 = []
states_123.extend(states_1)
states_123.extend(states_2)
states_123.extend(states_3)
print("INITIAL states_123 =", states_123)

states_123.sort()
print("\nSORTED states_123 Ascending = ", states_123 )

print("\nALTERNATE states_123 from SORTED list = ", states_123[::2])

INITIAL states_123 = ['Washington', 'Oregon', 'California', 'Texas', 'Arizona', 'New Mexico', 'Nevada', 'Florida', 'Georgia', 'Alabama', 'Louisiana']

SORTED states_123 Ascending =  ['Alabama', 'Arizona', 'California', 'Florida', 'Georgia', 'Louisiana', 'Nevada', 'New Mexico', 'Oregon', 'Texas', 'Washington']

ALTERNATE states_123 from SORTED list =  ['Alabama', 'California', 'Georgia', 'Nevada', 'Oregon', 'Washington']